
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.env
auth/*.json
playwright/.auth/
.DS_Store
trace.zip
allure-results/
allure-report/